__pycache__/
*.py[cod]
*.pyo
env/
venv/
.env

# Model too large for GitHub
model/*.h5
model/*.tflite

# Dataset too large
dataset/

# Music files
music/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db